$color-black: black;
$color-white: white;
$media-lg: "max-width: 992px";
$font-weights: 400, 700, 900;
$font-sizes: (
  1: 1rem,
  d875: 0.875rem,
  1d25: 1.25rem,
  2: 2rem,
  3: 3rem,
  5: 5rem,
  7d5: 7.5rem,
);
$line-heights: (
  120: 120%,
  150: 150%,
);






// .font1 {
//   font-weight: $font-weight-4;
//   font-size: $font-sizing-sm;
//   line-height: $line-height-150;
// }
// .font2 {
//   font-weight: $font-weight-4;
//   font-size: $font-sizing-md;
//   line-height: $line-height-150;
// }
// .font3 {
//   font-weight: $font-weight-7;
//   font-size: $font-sizing-sm;
//   line-height: $line-height-150;
// }
// .font4 {
//   font-weight: $font-weight-7;
//   font-size: $font-sizing-md;
//   line-height: $line-height-150;
// }
// .font5 {
//   font-weight: $font-weight-9;
//   font-size: $font-sizing-1;
//   line-height: $line-height-120;
// }
// .font6{
//   font-weight: $font-weight-9;
//   font-size: $font-sizing-2;
//   line-height: $line-height-120;
// }
// .font7 {
//   font-weight: $font-weight-9;
//   font-size: $font-sizing-3;
//   line-height: $line-height-120;
// }
// .font8 {
//   font-weight: $font-weight-9;
//   font-size: $font-sizing-4;
//   line-height: $line-height-120;
// }
// .font9 {
//   font-weight: $font-weight-9;
//   font-size: $font-sizing-5;
//   line-height: $line-height-120;
// }

// .test-gradient {
//   width: 900px;
//   height: 40px;
//   position: absolute;
//   z-index: 2;
  // background: linear-gradient(
  //   to right,
  //   rgba(0, 0, 0, 1) 0%,
  //   rgba(255, 255, 255, 0) 20%,
  //   rgba(255, 255, 255, 0) 80%,
  //   rgba(0, 0, 0, 1) 100%
  // );

// }
