$color-black: black;
$color-white: white;
$media-lg: "max-width: 992px";
$font-weights: 400, 700, 900;
$font-sizes: (
  1: 1rem,
  d875: 0.875rem,
  1d25: 1.25rem,
  2: 2rem,
  3: 3rem,
  5: 5rem,
  7d5: 7.5rem,
);
$line-heights: (
  120: 120%,
  150: 150%,
);





